{% block title %}Question #{{ question.id }}{% endblock %}

{% block body %}
    <div>
        <h1>Question #{{ question.id }}</h1>

        <p><strong>Text:</strong> {{ question.text }}</p>

        <p><strong>Lesson:</strong> {{ question.lesson.title }}</p>
    </div>
{% endblock %}